<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0sRv-rLkpn8UDlWCsPx7FnDfUe5C8kaw</string>
	<key>GCM_SENDER_ID</key>
	<string>593944836209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.eggplanneridenteggs</string>
	<key>PROJECT_ID</key>
	<string>nest-plan</string>
	<key>STORAGE_BUCKET</key>
	<string>nest-plan.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593944836209:ios:b86cab94b063d6445543d0</string>
</dict>
</plist>